In [1]:
import pandas as pd
import numpy as np 
from sklearn.metrics import confusion_matrix

In [2]:
aee_csv = pd.read_csv("/home/vashdi/stock/python/001/aee.txt")
aee_csv

            Date    Open    High     Low   Close   Volume  OpenInt
0     1998-01-02  27.258  27.293  26.859  27.138   592774        0
1     1998-01-05  27.293  27.339  26.664  26.941   753383        0
2     1998-01-06  26.704  26.739  26.463  26.544   338574        0
3     1998-01-07  26.544  26.544  25.906  26.306   478092        0
4     1998-01-08  26.342  26.342  25.833  25.991   434031        0
...          ...     ...     ...     ...     ...      ...      ...
4990  2017-11-06  62.410  62.690  61.950  62.120  1466025        0
4991  2017-11-07  62.340  63.010  62.010  62.870  1450757        0
4992  2017-11-08  62.770  63.150  62.290  62.660  1693669        0
4993  2017-11-09  62.400  62.895  62.190  62.820  1000664        0
4994  2017-11-10  62.460  62.770  62.170  62.480  1239766        0

[4995 rows x 7 columns]

In [3]:
aee_csv_data = aee_csv[["Open","High","Low","Close","Volume"]]
aee_csv_data

        Open    High     Low   Close   Volume
0     27.258  27.293  26.859  27.138   592774
1     27.293  27.339  26.664  26.941   753383
2     26.704  26.739  26.463  26.544   338574
3     26.544  26.544  25.906  26.306   478092
4     26.342  26.342  25.833  25.991   434031
...      ...     ...     ...     ...      ...
4990  62.410  62.690  61.950  62.120  1466025
4991  62.340  63.010  62.010  62.870  1450757
4992  62.770  63.150  62.290  62.660  1693669
4993  62.400  62.895  62.190  62.820  1000664
4994  62.460  62.770  62.170  62.480  1239766

[4995 rows x 5 columns]

In [4]:
aee_csv_data_diff = aee_csv_data.diff()
aee_csv_data_diff

       Open   High    Low  Close    Volume
0       NaN    NaN    NaN    NaN       NaN
1     0.035  0.046 -0.195 -0.197  160609.0
2    -0.589 -0.600 -0.201 -0.397 -414809.0
3    -0.160 -0.195 -0.557 -0.238  139518.0
4    -0.202 -0.202 -0.073 -0.315  -44061.0
...     ...    ...    ...    ...       ...
4990  0.830 -0.140  0.460 -0.070 -512932.0
4991 -0.070  0.320  0.060  0.750  -15268.0
4992  0.430  0.140  0.280 -0.210  242912.0
4993 -0.370 -0.255 -0.100  0.160 -693005.0
4994  0.060 -0.125 -0.020 -0.340  239102.0

[4995 rows x 5 columns]

In [5]:
VolumMean=aee_csv_data["Volume"].mean()

In [6]:
aee_csv_data_vol_normvol = aee_csv_data_diff[["Volume"]].div(VolumMean)
aee_csv_data_diff_stack = aee_csv_data_diff[["Open","High","Low","Close"]]
aee_csv_data_diff_stack["NormVol"]  = aee_csv_data_vol_normvol
aee_csv_data_diff_stack

       Open   High    Low  Close   NormVol
0       NaN    NaN    NaN    NaN       NaN
1     0.035  0.046 -0.195 -0.197  0.112125
2    -0.589 -0.600 -0.201 -0.397 -0.289589
3    -0.160 -0.195 -0.557 -0.238  0.097401
4    -0.202 -0.202 -0.073 -0.315 -0.030760
...     ...    ...    ...    ...       ...
4990  0.830 -0.140  0.460 -0.070 -0.358092
4991 -0.070  0.320  0.060  0.750 -0.010659
4992  0.430  0.140  0.280 -0.210  0.169583
4993 -0.370 -0.255 -0.100  0.160 -0.483805
4994  0.060 -0.125 -0.020 -0.340  0.166924

[4995 rows x 5 columns]

In [7]:
x_arr = aee_csv_data_diff_stack

In [8]:
df_open_close = aee_csv[["Open","Close"]]
df_open_close

        Open   Close
0     27.258  27.138
1     27.293  26.941
2     26.704  26.544
3     26.544  26.306
4     26.342  25.991
...      ...     ...
4990  62.410  62.120
4991  62.340  62.870
4992  62.770  62.660
4993  62.400  62.820
4994  62.460  62.480

[4995 rows x 2 columns]

In [9]:
t = aee_csv_data_diff_stack['Close'] > 0
aee_csv_data_diff_stack['CtgtCn'] = t 
aee_csv_data_diff_stack

       Open   High    Low  Close   NormVol  CtgtCn
0       NaN    NaN    NaN    NaN       NaN   False
1     0.035  0.046 -0.195 -0.197  0.112125   False
2    -0.589 -0.600 -0.201 -0.397 -0.289589   False
3    -0.160 -0.195 -0.557 -0.238  0.097401   False
4    -0.202 -0.202 -0.073 -0.315 -0.030760   False
...     ...    ...    ...    ...       ...     ...
4990  0.830 -0.140  0.460 -0.070 -0.358092   False
4991 -0.070  0.320  0.060  0.750 -0.010659    True
4992  0.430  0.140  0.280 -0.210  0.169583   False
4993 -0.370 -0.255 -0.100  0.160 -0.483805    True
4994  0.060 -0.125 -0.020 -0.340  0.166924   False

[4995 rows x 6 columns]

In [10]:
y_arr = t

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Convolution2D 
from keras.layers import Conv2D
from keras.layers import MaxPooling2D
from keras.layers import Flatten
from keras.layers import Dense

Using TensorFlow backend.
/home/vashdi/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorflow/python/framework/dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
/home/vashdi/.local/lib/python3.6/site-packages/tensorboard/compat/tensorflow_stub/dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

In [12]:
onerow = np.array(aee_csv_data_diff_stack.head(2).tail(1))
print("onerow:",onerow)
print("onerow.shape:",onerow.shape)

onerow: [[0.03500000000000014 0.045999999999999375 -0.19500000000000028
  -0.19700000000000273 0.11212544927301128 False]]
onerow.shape: (1, 6)

In [13]:
test = np.zeros((1,6,1))
test

array([[[0.],
        [0.],
        [0.],
        [0.],
        [0.],
        [0.]]])

In [14]:
print("onerow.shape[0]",onerow.shape[0])
print("onerow.shape[1]",onerow.shape[1])
inputshape = np.zeros([onerow.shape[0],onerow.shape[1],1])
print("inputshape.shape",inputshape.shape)

onerow.shape[0] 1
onerow.shape[1] 6
inputshape.shape (1, 6, 1)

In [15]:
###########
### CNN ###
###########
inputshape = np.zeros([onerow.shape[0],onerow.shape[1],1]) #(1,6,1) 
model2 = Sequential()
model2.add(Dense(12,input_dim=5,activation='relu'))
model2.add(Dense(8,activation='relu'))
model2.add(Dense(6,activation='relu'))
model2.add(Dense(units=1,activation='sigmoid'))
model2.compile(loss='binary_crossentropy',optimizer='adam',metrics=['accuracy'])
print(model2.predict(np.zeros([onerow.shape[0],onerow.shape[1]-1])))
#model2.predict(a) a.shape = (1, 120, 640, 1)

WARNING:tensorflow:From /home/vashdi/.local/lib/python3.6/site-packages/tensorflow/python/ops/nn_impl.py:180: add_dispatch_support.<locals>.wrapper (from tensorflow.python.ops.array_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.where in 2.0, which has the same broadcast rule as np.where
WARNING:tensorflow:From /home/vashdi/.local/lib/python3.6/site-packages/keras/backend/tensorflow_backend.py:422: The name tf.global_variables is deprecated. Please use tf.compat.v1.global_variables instead.

[[0.5]]

In [16]:
x_arr

       Open   High    Low  Close   NormVol  CtgtCn
0       NaN    NaN    NaN    NaN       NaN   False
1     0.035  0.046 -0.195 -0.197  0.112125   False
2    -0.589 -0.600 -0.201 -0.397 -0.289589   False
3    -0.160 -0.195 -0.557 -0.238  0.097401   False
4    -0.202 -0.202 -0.073 -0.315 -0.030760   False
...     ...    ...    ...    ...       ...     ...
4990  0.830 -0.140  0.460 -0.070 -0.358092   False
4991 -0.070  0.320  0.060  0.750 -0.010659    True
4992  0.430  0.140  0.280 -0.210  0.169583   False
4993 -0.370 -0.255 -0.100  0.160 -0.483805    True
4994  0.060 -0.125 -0.020 -0.340  0.166924   False

[4995 rows x 6 columns]

In [17]:
bad_x = x_arr.index.isin([0])
x_arr[~bad_x]
X_Arr = x_arr[~bad_x][["Open","High","Low","Close","NormVol"]]
Y_Arr = x_arr[~bad_x][["CtgtCn"]]

In [18]:
X_Arr

       Open   High    Low  Close   NormVol
1     0.035  0.046 -0.195 -0.197  0.112125
2    -0.589 -0.600 -0.201 -0.397 -0.289589
3    -0.160 -0.195 -0.557 -0.238  0.097401
4    -0.202 -0.202 -0.073 -0.315 -0.030760
5    -0.395  0.159  0.114  0.233 -0.017244
...     ...    ...    ...    ...       ...
4990  0.830 -0.140  0.460 -0.070 -0.358092
4991 -0.070  0.320  0.060  0.750 -0.010659
4992  0.430  0.140  0.280 -0.210  0.169583
4993 -0.370 -0.255 -0.100  0.160 -0.483805
4994  0.060 -0.125 -0.020 -0.340  0.166924

[4994 rows x 5 columns]

In [19]:
Y_Arr

      CtgtCn
1      False
2      False
3      False
4      False
5       True
...      ...
4990   False
4991    True
4992   False
4993    True
4994   False

[4994 rows x 1 columns]

In [20]:
a = np.array(X_Arr.head(1))
a.reshape(1,5)

array([[ 0.035     ,  0.046     , -0.195     , -0.197     ,  0.11212545]])

In [21]:
model2.predict(a.reshape(1,5))

array([[0.48778713]], dtype=float32)

In [22]:
#model2.fit(x=np.vstack(X_Arr.to_numpy()),y=np.vstack(Y_Arr.to_numpy()))

In [23]:
#model2.fit(x=np.vstack(X_Arr.to_numpy()),y=np.vstack(Y_Arr.to_numpy()),batch_size=10,epochs=100)

In [24]:
bad_x = x_arr.index.isin([0])
bigArr= x_arr[~bad_x]
msk = np.random.rand(len(bigArr)) < 0.8
Arr_train=bigArr[msk]
Arr_test=bigArr[~msk]
X_Arr_train = Arr_train[["Open","High","Low","Close","NormVol"]]
Y_Arr_train = Arr_train[["CtgtCn"]]
X_Arr_test = Arr_test[["Open","High","Low","Close","NormVol"]]
Y_Arr_test = Arr_test[["CtgtCn"]]
print(len(Y_Arr_test))
print(len(Y_Arr_train))

#model2.fit(x=np.vstack(X_Arr.to_numpy()),y=np.vstack(Y_Arr.to_numpy()))

1027
3967

In [25]:
model2.fit(x=np.vstack(X_Arr_train.to_numpy()),y=np.vstack(Y_Arr_train.to_numpy()),batch_size=10,epochs=100)

Epoch 1/100
3967/3967 [==============================] - 0s 119us/step - loss: 0.4481 - accuracy: 0.8162
Epoch 2/100
3967/3967 [==============================] - 0s 96us/step - loss: 0.1017 - accuracy: 0.9730
Epoch 3/100
3967/3967 [==============================] - 0s 98us/step - loss: 0.0557 - accuracy: 0.9861
Epoch 4/100
3967/3967 [==============================] - 0s 120us/step - loss: 0.0402 - accuracy: 0.9902
Epoch 5/100
3967/3967 [==============================] - 1s 136us/step - loss: 0.0323 - accuracy: 0.9914
Epoch 6/100
3967/3967 [==============================] - 0s 103us/step - loss: 0.0270 - accuracy: 0.9929
Epoch 7/100
3967/3967 [==============================] - 0s 103us/step - loss: 0.0229 - accuracy: 0.9934
Epoch 8/100
3967/3967 [==============================] - 0s 118us/step - loss: 0.0195 - accuracy: 0.9960
Epoch 9/100
3967/3967 [==============================] - 0s 125us/step - loss: 0.0171 - accuracy: 0.9957
Epoch 10/100
3967/3967 [==============================] - 1s 139us/step - loss: 0.0149 - accuracy: 0.9960
Epoch 11/100
3967/3967 [==============================] - 1s 201us/step - loss: 0.0127 - accuracy: 0.9977
Epoch 12/100
3967/3967 [==============================] - 1s 138us/step - loss: 0.0138 - accuracy: 0.9945
Epoch 13/100
3967/3967 [==============================] - 1s 155us/step - loss: 0.0109 - accuracy: 0.9980
Epoch 14/100
3967/3967 [==============================] - 1s 187us/step - loss: 0.0112 - accuracy: 0.9967
Epoch 15/100
3967/3967 [==============================] - 1s 134us/step - loss: 0.0090 - accuracy: 0.9977
Epoch 16/100
3967/3967 [==============================] - 1s 226us/step - loss: 0.0104 - accuracy: 0.9957
Epoch 17/100
3967/3967 [==============================] - 0s 109us/step - loss: 0.0071 - accuracy: 0.9992
Epoch 18/100
3967/3967 [==============================] - 0s 96us/step - loss: 0.0065 - accuracy: 0.9990
Epoch 19/100
3967/3967 [==============================] - 0s 91us/step - loss: 0.0086 - accuracy: 0.9975
Epoch 20/100
3967/3967 [==============================] - 0s 94us/step - loss: 0.0053 - accuracy: 0.9985
Epoch 21/100
3967/3967 [==============================] - 0s 91us/step - loss: 0.0044 - accuracy: 0.9997
Epoch 22/100
3967/3967 [==============================] - 0s 115us/step - loss: 0.0060 - accuracy: 0.9982
Epoch 23/100
3967/3967 [==============================] - 1s 185us/step - loss: 0.0056 - accuracy: 0.9982
Epoch 24/100
3967/3967 [==============================] - 1s 171us/step - loss: 0.0042 - accuracy: 0.9995
Epoch 25/100
3967/3967 [==============================] - 0s 117us/step - loss: 0.0050 - accuracy: 0.9985
Epoch 26/100
3967/3967 [==============================] - 0s 111us/step - loss: 0.0038 - accuracy: 0.9995
Epoch 27/100
3967/3967 [==============================] - 1s 129us/step - loss: 0.0033 - accuracy: 0.9992
Epoch 28/100
3967/3967 [==============================] - 0s 117us/step - loss: 0.0043 - accuracy: 0.9987
Epoch 29/100
3967/3967 [==============================] - 0s 114us/step - loss: 0.0032 - accuracy: 0.9990
Epoch 30/100
3967/3967 [==============================] - 0s 89us/step - loss: 0.0088 - accuracy: 0.9980
Epoch 31/100
3967/3967 [==============================] - 0s 112us/step - loss: 0.0033 - accuracy: 0.9990
Epoch 32/100
3967/3967 [==============================] - 1s 142us/step - loss: 0.0025 - accuracy: 0.9992
Epoch 33/100
3967/3967 [==============================] - 1s 172us/step - loss: 0.0031 - accuracy: 0.9995
Epoch 34/100
3967/3967 [==============================] - 1s 136us/step - loss: 0.0021 - accuracy: 0.9997
Epoch 35/100
3967/3967 [==============================] - 1s 135us/step - loss: 0.0020 - accuracy: 0.9995
Epoch 36/100
3967/3967 [==============================] - 1s 135us/step - loss: 0.0020 - accuracy: 0.9997
Epoch 37/100
3967/3967 [==============================] - 1s 137us/step - loss: 0.0041 - accuracy: 0.9990
Epoch 38/100
3967/3967 [==============================] - 1s 181us/step - loss: 0.0018 - accuracy: 0.9995
Epoch 39/100
3967/3967 [==============================] - 1s 150us/step - loss: 0.0014 - accuracy: 0.9995
Epoch 40/100
3967/3967 [==============================] - 0s 122us/step - loss: 0.0016 - accuracy: 0.9995
Epoch 41/100
3967/3967 [==============================] - 1s 192us/step - loss: 0.0021 - accuracy: 0.9995
Epoch 42/100
3967/3967 [==============================] - 1s 195us/step - loss: 0.0018 - accuracy: 0.9995
Epoch 43/100
3967/3967 [==============================] - 0s 116us/step - loss: 0.0017 - accuracy: 0.9995
Epoch 44/100
3967/3967 [==============================] - 1s 160us/step - loss: 0.0020 - accuracy: 0.9992
Epoch 45/100
3967/3967 [==============================] - 0s 100us/step - loss: 8.0314e-04 - accuracy: 0.9997
Epoch 46/100
3967/3967 [==============================] - 0s 98us/step - loss: 0.0024 - accuracy: 0.9992
Epoch 47/100
3967/3967 [==============================] - 0s 96us/step - loss: 0.0011 - accuracy: 0.9997
Epoch 48/100
3967/3967 [==============================] - 0s 99us/step - loss: 0.0010 - accuracy: 0.9997
Epoch 49/100
3967/3967 [==============================] - 0s 99us/step - loss: 7.7058e-04 - accuracy: 0.9997
Epoch 50/100
3967/3967 [==============================] - 0s 95us/step - loss: 0.0023 - accuracy: 0.9990
Epoch 51/100
3967/3967 [==============================] - 1s 134us/step - loss: 0.0021 - accuracy: 0.9995
Epoch 52/100
3967/3967 [==============================] - 0s 94us/step - loss: 0.0013 - accuracy: 0.9995
Epoch 53/100
3967/3967 [==============================] - 0s 93us/step - loss: 0.0026 - accuracy: 0.9992
Epoch 54/100
3967/3967 [==============================] - 0s 106us/step - loss: 8.3548e-04 - accuracy: 0.9997
Epoch 55/100
3967/3967 [==============================] - 1s 148us/step - loss: 9.8864e-04 - accuracy: 0.9997
Epoch 56/100
3967/3967 [==============================] - 0s 111us/step - loss: 5.8397e-04 - accuracy: 1.0000
Epoch 57/100
3967/3967 [==============================] - 0s 100us/step - loss: 0.0010 - accuracy: 0.9995
Epoch 58/100
3967/3967 [==============================] - 1s 178us/step - loss: 0.0032 - accuracy: 0.9987
Epoch 59/100
3967/3967 [==============================] - 1s 179us/step - loss: 8.8764e-04 - accuracy: 0.9997
Epoch 60/100
3967/3967 [==============================] - 1s 193us/step - loss: 0.0029 - accuracy: 0.9987
Epoch 61/100
3967/3967 [==============================] - 1s 158us/step - loss: 5.5729e-04 - accuracy: 0.9997
Epoch 62/100
3967/3967 [==============================] - 1s 130us/step - loss: 9.8698e-04 - accuracy: 0.9997
Epoch 63/100
3967/3967 [==============================] - 0s 118us/step - loss: 6.8267e-04 - accuracy: 0.9997
Epoch 64/100
3967/3967 [==============================] - 0s 115us/step - loss: 7.3990e-04 - accuracy: 0.9995
Epoch 65/100
3967/3967 [==============================] - 0s 105us/step - loss: 7.0689e-04 - accuracy: 0.9997
Epoch 66/100
3967/3967 [==============================] - 1s 139us/step - loss: 0.0061 - accuracy: 0.9972
Epoch 67/100
3967/3967 [==============================] - 1s 134us/step - loss: 5.2098e-04 - accuracy: 1.0000
Epoch 68/100
3967/3967 [==============================] - 0s 102us/step - loss: 6.1194e-04 - accuracy: 0.9997
Epoch 69/100
3967/3967 [==============================] - 0s 100us/step - loss: 3.3121e-04 - accuracy: 1.0000
Epoch 70/100
3967/3967 [==============================] - 0s 94us/step - loss: 5.0332e-04 - accuracy: 0.9997
Epoch 71/100
3967/3967 [==============================] - 0s 98us/step - loss: 0.0011 - accuracy: 0.9997
Epoch 72/100
3967/3967 [==============================] - 0s 96us/step - loss: 4.5195e-04 - accuracy: 1.0000
Epoch 73/100
3967/3967 [==============================] - 0s 94us/step - loss: 0.0029 - accuracy: 0.9992
Epoch 74/100
3967/3967 [==============================] - 0s 98us/step - loss: 0.0012 - accuracy: 0.9992
Epoch 75/100
3967/3967 [==============================] - 0s 99us/step - loss: 7.1006e-04 - accuracy: 0.9997
Epoch 76/100
3967/3967 [==============================] - 0s 98us/step - loss: 4.0849e-04 - accuracy: 1.0000
Epoch 77/100

3967/3967 [==============================] - 0s 98us/step - loss: 3.7303e-04 - accuracy: 1.0000
Epoch 78/100
3967/3967 [==============================] - 0s 100us/step - loss: 7.6636e-04 - accuracy: 0.9997
Epoch 79/100
3967/3967 [==============================] - 0s 100us/step - loss: 2.2496e-04 - accuracy: 1.0000
Epoch 80/100
3967/3967 [==============================] - 0s 99us/step - loss: 0.0015 - accuracy: 0.9995
Epoch 81/100
3967/3967 [==============================] - 0s 100us/step - loss: 3.4785e-04 - accuracy: 1.0000
Epoch 82/100
3967/3967 [==============================] - 0s 100us/step - loss: 6.4915e-04 - accuracy: 0.9997
Epoch 83/100
3967/3967 [==============================] - 0s 98us/step - loss: 0.0037 - accuracy: 0.9987
Epoch 84/100
3967/3967 [==============================] - 0s 100us/step - loss: 2.6546e-04 - accuracy: 1.0000
Epoch 85/100
3967/3967 [==============================] - 0s 99us/step - loss: 5.3166e-04 - accuracy: 0.9995
Epoch 86/100
3967/3967 [==============================] - 0s 102us/step - loss: 2.8990e-04 - accuracy: 0.9997
Epoch 87/100
3967/3967 [==============================] - 0s 103us/step - loss: 5.6019e-04 - accuracy: 1.0000
Epoch 88/100
3967/3967 [==============================] - 0s 99us/step - loss: 0.0015 - accuracy: 0.9992
Epoch 89/100
3967/3967 [==============================] - 0s 99us/step - loss: 8.4544e-04 - accuracy: 0.9997
Epoch 90/100
3967/3967 [==============================] - 0s 100us/step - loss: 2.4322e-04 - accuracy: 1.0000
Epoch 91/100
3967/3967 [==============================] - 0s 99us/step - loss: 2.0727e-04 - accuracy: 1.0000
Epoch 92/100
3967/3967 [==============================] - 0s 99us/step - loss: 5.2678e-04 - accuracy: 0.9997
Epoch 93/100
3967/3967 [==============================] - 0s 98us/step - loss: 1.3501e-04 - accuracy: 1.0000
Epoch 94/100
3967/3967 [==============================] - 0s 102us/step - loss: 0.0023 - accuracy: 0.9990
Epoch 95/100
3967/3967 [==============================] - 0s 98us/step - loss: 3.3141e-04 - accuracy: 1.0000
Epoch 96/100
3967/3967 [==============================] - 0s 98us/step - loss: 1.0105e-04 - accuracy: 1.0000
Epoch 97/100
3967/3967 [==============================] - 0s 101us/step - loss: 7.8091e-05 - accuracy: 1.0000
Epoch 98/100
3967/3967 [==============================] - 0s 98us/step - loss: 1.2221e-04 - accuracy: 1.0000
Epoch 99/100
3967/3967 [==============================] - 0s 102us/step - loss: 1.6068e-04 - accuracy: 1.0000
Epoch 100/100
3967/3967 [==============================] - 0s 95us/step - loss: 9.0206e-05 - accuracy: 1.0000

In [26]:
Y_Arr_predict = model2.predict(X_Arr_test)
Y_Arr_predict = Y_Arr_predict > 0.5

In [27]:
print(type(Y_Arr_test.to_numpy()))
print(type(Y_Arr_predict))
y_test=Y_Arr_test.to_numpy()
cm = confusion_matrix(y_test,Y_Arr_predict)
print(cm)

<class 'numpy.ndarray'>
<class 'numpy.ndarray'>
[[509   2]
 [  0 516]]

In [28]:
adx_csv = pd.read_csv("/home/vashdi/stock/python/001/adx.txt")
adx_csv
adx_csv_data = adx_csv[["Open","High","Low","Close","Volume"]]
adx_csv_data
adx_csv_data_diff = adx_csv_data.diff()
adx_csv_data_diff
VolumAdxMean=adx_csv_data["Volume"].mean()
adx_csv_data_vol_normvol = adx_csv_data_diff[["Volume"]].div(VolumMean)
adx_csv_data_diff_stack = adx_csv_data_diff[["Open","High","Low","Close"]]
adx_csv_data_diff_stack["NormVol"]  = adx_csv_data_vol_normvol
adx_csv_data_diff_stack

            Date     Open     High      Low    Close  Volume  OpenInt
0     2005-02-25   6.8760   6.9379   6.8760   6.9242  104859        0
1     2005-02-28   6.9103   6.9379   6.8553   6.9038  117510        0
2     2005-03-01   6.9242   7.0068   6.9172   7.0068  155468        0
3     2005-03-02   6.9656   7.0205   6.9311   6.9792  130162        0
4     2005-03-03   6.9516   6.9996   6.9516   6.9721   65884        0
...          ...      ...      ...      ...      ...     ...      ...
3196  2017-11-06  15.7400  15.8000  15.7000  15.8000  119006        0
3197  2017-11-07  15.7800  15.7800  15.7400  15.7700  127035        0
3198  2017-11-08  15.7700  15.7700  15.6700  15.7400  190886        0
3199  2017-11-09  15.6800  15.6800  15.5499  15.6700  181537        0
3200  2017-11-10  15.7000  15.7900  15.6800  15.7300  289580        0

[3201 rows x 7 columns]